{{#each model as |xc|}}
  <div class="row exchange">
    <div class="col-md-3">
      <a href="{{xc.displayURL}}">
        {{xc.displayName}}
      </a>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <small> Ask </small>
          <strong> $ {{xc.ask}} </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <small> Bid </small>
          <strong> $ {{xc.bid}} </strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <small> Last </small>
      <big><strong>$ {{xc.last}}</strong></big>
    </div>
    <div class="col-md-3">
      <button type="button" {{action 'showModal' 'rates/token' xc}} class="btn btn-success">Buy</button>
      <button type="button" {{action 'showModal' 'rates/sell'}} class="btn btn-danger">Sell</button>
    </div>
  </div>
{{/each}}
